<div class="row">
    <div class="col-md-8 col-md-offset-2 content-wrap">
        <h3 class="text-center">User's chart</h3>
        <table class="table table-condensed users-chart edit-users-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td><% user.id %></td>
                <td><div class="user-avatar-container"><img ng-src="<% user.avatarUrl() %>" /></div></td>
                <td>
                    <input type="text" class="form-control" ng-model="user.name">
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="user.email">
                </td>
                <td>
                    <input type="password" class="form-control" ng-model="user.password">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>