<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-centered content-wrap user-profile">
        <form>
            <div class="user-avatar-container">
                <div class="user-avatar preload"
                     back-img="{{ player.avatar_url ? player.avatar_url : '/img/no-avatar.min.png'}}"
                     ngf-select ng-model="avatar"
                >
                    <img ng-src="{{ player.avatar_url ? player.avatar_url : '/img/no-avatar.min.png'}}" />
                </div>
                <div class="errors" ng-repeat="error in errors.avatar">
                    {{ error }}
                </div>
            </div>

            <div class="col-md-10 col-centered text-right">
                <md-input-container class="md-block">
                    <label for="name">Name</label>
                    <input id="name" type="text" ng-model="player.name">
                    <div class="errors" ng-repeat="error in errors.name">
                        {{ error }}
                    </div>
                </md-input-container>
            </div>

            <div class="col-md-10 col-centered text-right">
                <md-input-container class="md-block">
                    <label for="password">Password</label>
                    <input id="password" type="password" ng-model="player.password" placeholder="Fill to change...">
                    <div class="errors" ng-repeat="error in errors.password">
                        {{ error }}
                    </div>
                </md-input-container>
            </div>

            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <md-button
                            ng-if="!currentPlayer.deleted"
                            md-no-ink class="md-primary"
                            ng-click="openDialog()"
                    >Delete profile</md-button>
                    <md-button
                            class="md-raised md-primary"
                            ng-click="saveChanges(player)"
                            ng-disabled="loading"
                    >Save</md-button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/ng-template" id="delete-confirmation">
    Do you really want to delete your profile?
    <div class="text-right">
        <button class="btn btn-primary" ng-click="deletePlayer(player)">Yes</button>
        <button class="btn btn-danger" ng-click="closeThisDialog()">No</button>
    </div>
</script>