@import "variables";

table.user-profile-table th * {
  float: right;
}

.user-profile .user-avatar-container {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.user-profile .user-avatar-container .user-avatar {
  margin: 0 auto;
  cursor: pointer;
}

.save-button {
  color: @color-winner !important;

  &:hover {
    background: #fff !important;
  }
}

.delete-button {
  color: @color-loser !important;

  &:hover {
    background: #fff !important;
  }
}

.no-touch {
  .delete-button:hover {
    background: @color-loser !important;
    color: #fff !important;
  }

  .save-button:hover {
    background: @color-winner !important;
    color: #fff !important;
  }
}

.user-profile .user-avatar-container .user-avatar:hover {
  opacity: 0.5;
  transition-duration: 400ms;
}

table.user-profile-table th, table.user-profile-table tr {
  font-size: 15px;
  width: 50%;
  vertical-align: middle;
}